<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>BEEmod Compilation Error</title>
	<link rel="icon" type="image/png" href="static/favicon.png">
	<link rel="stylesheet" href="static/styles.css" >
	<script type="module" src="static/script.js"></script>
</head>

<body>
<main>
	<article>
		{{ error_text }}
		{% if context %}
			<aside>{{ context }}</aside>
		{% endif %}
	</article>
	<details{{ " open" if start_render_open else "" }} id="render-details">
		<summary>Chamber Preview</summary>
		<section id="render"></section>
	</details>
	{% if log_vbsp %}
	<details>
		<summary>Geometry Compile Log</summary>
		<pre>{{ log_vbsp }}</pre>
	</details>
	{% endif %}
	{% if log_vrad %}
	<details>
		<summary>Lighting / Packing Compile Log</summary>
		<pre>{{ log_vrad }}</pre>
	</details>
	{% endif %}
</main>
</body>
</html>
