# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Compiled module files
__pycache__/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

.idea/

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# MyPy
.mypy_cache


# Portal 2 stuff
*.vmx
*.log
*.prt
*.filelist.txt

# Compiled application output
build_BEE2/
compiler/

# Ignore palettes
palettes/*.bee2_palette

# The config files automatically regenerate with the defaults.
config/

# Reports and logs we produce:
logs/
reports/

# Localisation files:
*.mo


# PyInstaller temporary file directory
/build_tmp/
