mypy>=1.5.0
mypy-extensions>=1.0.0
pytest>=7.3.2
pytest-trio>=0.8.0
pytest-datadir>=1.4.1
pytest-regressions>=2.4.2
dirty_equals >= 0.6
types-Pillow>=9.4.0.5
types-atomicwrites>=1.4.0
types-babel>=2.10.0
