body {
	/* Todo: grab puzzlemaker BG colour */
	background-color: rgb(229, 232, 233);
    /* Center align. */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* Standard UI fonts for various platforms. */
    font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", "Icons16", sans-serif;
}

main {
    margin: 32px;
    display: block;
    padding: 20pt;
    box-sizing: border-box;

    /* Replicate black panel background. */
    box-shadow: inset 0 0 40pt 0 rgba(0, 0, 0, 0.5);
    background-color: rgb(100, 100, 100);  /* Fallback */
    background-image: url("tile_bg.png");
    background-size: 512px 512px;
    background-origin: border-box;
    background-repeat: repeat;
    color: rgb(201, 211, 207);
    overflow-y: scroll;
    /* Compile dialog uses FriendsListStatusLine:
    Univers Std Condensed, weight=&00, tall=14
    */
}

details pre {
    background: #d7d7d7;
    color: black;
    white-space: pre-wrap;
}
